.container-sobre{ 
  display: flex; 
  align-items: center;
  justify-content:flex-start;
  flex-direction: column;
  background-color: rgb(26, 27, 32);
  height: 1900px;
  color:white;
  width: 100%;
}

.text-date{
  display: flex; 
  align-items: center;
  justify-content:center;
  flex-direction: column;

}
.center-sobre{
  display: flex; 
  align-items: center;
  justify-content:center;
  flex-direction: column;
  background-repeat:round;
  width: 1100px;
  height:150px;
  color:white;
  font-family:cursive;
  font-size: 50px;

}

.borda{
  width: 10%;
  height: 3px;
  background-color: red;
  margin-top: 10px;

}
.my-title {
  width: 1450px;
  height: 130px;
  display: flex; 
  align-items: center;
  justify-content:center;
  flex-direction: column;
  font-family:cursive;
  font-size: 20px;
  
 
}

.title-skills{
  width: 1050px;
  height: 50px;
  font-family:cursive;
  font-size: 20px;
  text-align:start;
  display: flex; 
  align-items: center;
  justify-content:center;
  margin-bottom: 20px;

}
.my-text{
  width: 1050px;
  height: 350px;
  font-family:cursive;
  font-size: 20px;
  text-align:start;
  display: flex; 
  align-items: center;
  justify-content:center;

}
.skills{
  width: 1450px;
  height: 220px;
  font-family:cursive;
  font-size: 30px;
  text-align: center;
  display: flex; 
  align-items: center;
  justify-content:space-between;

}

.img-skill{
  width: 150px;
  height: 150px;
  /* border-radius: 50%; */
  text-align: center;
  display: flex; 
  align-items: center;
  justify-content:center;
  flex-direction: column;
}

.container-contact{
  width: 1250px;
  height: 350px;
  background-color: cadetblue;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 10px;
  text-align: center;
  display: flex; 
  align-items: center;
  justify-content:center;
  flex-direction: column;
  

}

@media (max-width: 768px) {
  .container-sobre{ 
    display: flex; 
    align-items: center;
    justify-content:flex-start;
    flex-direction: column;
    background-color: rgb(26, 27, 32);
    width: 100%;
    height:2000px;
    color:white;
  }

  .center-sobre{
    display: flex; 
    align-items: center;
    justify-content:center;
    flex-direction: column;
    background-repeat:round;
    width: 100%;
    color:white;
    font-family:cursive;
    font-size: 30px;
  
  }
  

  .myTitle {
    width: 100%;
    height: 40px;
    display: flex; 
    align-items: center;
    justify-content:center;
    flex-direction: column;
    font-family:cursive;
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
   
  }

  .my-text{
    width: 100%;
    height:850px;
    text-align: center;
    font-size: 16px;
    margin: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .my-text p{
    
    margin: 10px;
   
  }

  .text-date{
    width: 100%;
    height:1250px;
    display: flex;
    justify-content: start;
    align-items: flex-start;

  }
  .skills{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:1550px;
    display: grid;
  grid-template-columns: 1fr 1fr; /* 2 colunas de largura igual */
  gap: 20px; /* Espaçamento entre as colunas */
  }

  .title-skills{
    width: 100%;
    height: 50px;
    font-family:cursive;
    font-size: 20px;
    text-align:start;
    display: flex; 
    align-items: center;
    justify-content:center;
    margin-bottom: 20px;
  
  }

  .borda-sobre{
    width: 40%;
    height: 3px;
    background-color: red;
    margin-top: 10px;
  
  }

  
.img-skill{
  width: 100px;
  height: 100px;
  text-align: center;
  display: flex; 
  align-items: center;
  justify-content:center;
  flex-direction: column;
}
.container-img{
  display: flex; 
  align-items: center;
  justify-content:center;
  flex-direction: column;

}
.container-img label{
  font-size: 17px;

}

 

  
  

}

